.portfolio-container {
	width: 100%;
	height: 100%;
	padding: 0px 40px 30px 40px;

	color: var(--color1);

	> .type-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;

		> a {
			font-weight: bold;
			color: var(--color1);
			text-decoration: none;
		}

		> a.router-link-exact-active {
			color: $yellow;
			/* text-decoration: underline; */
		}
	}

	> .works-container {
		display: flex;
		margin-top: 50px;
		gap: 20px;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
