.about-card-container {
	max-width: calc(50% - 10px);

	> .grid-container {
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-template-rows: auto;
		grid-template-areas: "left-side right-side";
		gap: 20px;
		width: 100%;

		box-shadow: #171717 0px 4px 6px 0px;
		border-radius: 15px;
		background-color: $gray2;
		padding: 20px;

		> .grid-left-side {
			grid-area: left-side;
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			aspect-ratio: 1 / 1;
			object-fit: cover;
		}

		> .grid-right-side {
			grid-area: right-side;
			width: 100%;

			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;

			> .card-type {
				text-transform: uppercase;
				font-weight: bold;
				color: $gray5;
				font-size: 0.8em;
			}

			> .card-desc {
				color: $white;
				font-size: 0.9em;
				word-break: break-all;
			}
		}

		> .card-image {
			width: 3rem;
		}
	}
}
