$yellow: #fbb300;
$white: #ebebeb;

$gray1: #292929;
$gray2: #2b2b2b;
$gray3: #1e1e1f;
$gray4: #2f2f2f;
$gray5: #727272;

$mobile: "(max-width: 600px)";

@import "_App";

@import "./views/_AboutView";
@import "./views/_ContactView";
@import "./views/_PortfolioView";
@import "./views/_ResumeView";

@import "./components/_Profile";
@import "./components/ProfileInfoTag";
@import "./components/AboutCard";

body {
	background-color: #111;
	margin: 50px 150px 50px 150px;
}

html {
	overflow-y: scroll;
}

html,
body {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
