@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
:root {
  --icon-size: 26px;
  --white: #ebebeb;
}

@media (max-width: 600px) {
  :root {
    --icon-size: 16px;
  }
}
[data-theme=light] {
  --white: #171717;
  --gray3: #ebebeb;
}

[data-theme=dark] {
  --white: #ebebeb;
  --gray3: #1e1e1f;
}

#app > .grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side right-side";
  gap: 20px;
}
#app > .grid-container > .grid-right-side {
  grid-area: right-side;
  background-color: var(--gray3);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #2f2f2f;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 75px;
  grid-template-areas: "left-side right-side" "bottom-side bottom-side";
  justify-items: end;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-left-side {
  grid-area: left-side;
  width: 100%;
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-left-side > .current-page {
  font-size: 2rem;
  color: #ebebeb;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 0.6em;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side {
  grid-area: right-side;
  width: -moz-fit-content;
  width: fit-content;
  height: 60px;
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #2f2f2f;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > a {
  font-weight: bold;
  color: #ebebeb;
  text-decoration: none;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > a.router-link-exact-active {
  color: #fbb300;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > select {
  position: relative;
  min-width: 200px;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper {
  display: flex;
  align-items: center;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch > input {
  display: none;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch > .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch > .slider:before {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch > input:checked + .slider {
  background-color: #66bb6a;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch > input:checked + .slider:before {
  transform: translateX(20px);
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch > .slider.round {
  border-radius: 34px;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-right-side > .theme-switch-wrapper > .theme-switch > .slider.round:before {
  border-radius: 50%;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-bottom-side {
  grid-area: bottom-side;
  width: 100%;
  padding-left: 40px;
}
#app > .grid-container > .grid-right-side > nav > .nav-grid-container > .nav-grid-bottom-side > .nav-line {
  width: 3em;
  border-radius: 15px;
  border: solid 3px #fbb300;
  margin: 30px 0px 50px 0px;
}
#app > .grid-container > .grid-left-side {
  grid-area: left-side;
  background-color: var(--gray3);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #2f2f2f;
  height: -moz-fit-content;
  height: fit-content;
  width: 20%;
  position: fixed;
}
@media (max-width: 600px) {
  #app > .grid-container > .grid-left-side {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: calc(100% - 40px);
  }
}

.about-container {
  width: 100%;
  height: 100%;
  padding: 0px 40px 30px 40px;
}
.about-container > .text-container {
  margin: 0px 0px 50px 0px;
  font-size: 16px;
  text-align: justify;
  color: #ebebeb;
}
.about-container > .doing-container {
  text-align: justify;
  color: #ebebeb;
}
.about-container > .doing-container > .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-container {
  width: 100%;
  height: 100%;
  padding: 0px 40px 30px 40px;
}

.portfolio-container {
  width: 100%;
  height: 100%;
  padding: 0px 40px 30px 40px;
  color: #ebebeb;
}
.portfolio-container > .type-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.portfolio-container > .type-container > a {
  font-weight: bold;
  color: #ebebeb;
  text-decoration: none;
}
.portfolio-container > .type-container > a.router-link-exact-active {
  color: #fbb300;
  /* text-decoration: underline; */
}
.portfolio-container > .works-container {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.resume-container {
  width: 100%;
  height: 100%;
  padding: 0px 40px 30px 40px;
}
.resume-container > .info-line {
  width: calc(100% - 80px);
  margin: 0px auto 20px auto;
  border: 1px solid #292929;
  border-radius: 1px;
}
.resume-container > .content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resume-container > .content-container > .resume-progress-bar-container {
  width: 100%;
  background-color: #2b2b2b;
  border-radius: 15px;
  padding: 20px 20px 5px 20px;
  margin: 0px auto;
  border-style: solid;
  border-width: 1px;
  border-color: #383838;
}
.resume-container > .content-container > .type-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: bold;
  color: #ebebeb;
  width: 100%;
}
.resume-container > .content-container > .type-container > img {
  margin: 7px;
  height: var(--icon-size);
}

.profile-container {
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-container > img {
  width: 50%;
  height: auto;
  border-radius: 25px;
}
.profile-container > .name {
  font-weight: bold;
  color: var(--white);
  margin: 50px 0 0 0;
}
.profile-container > .title {
  font-size: 0.8em;
  color: #fbb300;
  /* color: #727272; */
  text-decoration: none;
  margin: 0;
}
.profile-container > .tag-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px 0 0 0;
}
.profile-container > .tag-container > .tag {
  color: #ebebeb;
  padding: 10px 15px;
  margin: 0;
  border-radius: 20px;
  background-color: #2b2b2b;
  /* box-shadow: #171717 0px 4px 6px 0px; */
}
.profile-container > .line {
  width: 80%;
  margin: 20px 0;
  border: 1px solid #292929;
  border-radius: 1px;
}
.profile-container > .info-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
}
.profile-container > .social-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 0;
}
.profile-container > .social-container > a {
  max-width: 15%;
}
.profile-container > .social-container > a > img {
  width: var(--icon-size);
  height: auto;
}

/*  > .rainbow {
	position: relative;
	z-index: 0;
	width: 50%;
	height: auto;
	border-radius: 25px;
	overflow: hidden;
	padding: 2px;

	display: flex;
	justify-content: center;
	align-items: center;

	::before {
		content: "";
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: #399953;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#7b42e6, #7b42e6), linear-gradient(#fbb300, #fbb300), linear-gradient(#7b42e6, #7b42e6), linear-gradient(#fbb300, #fbb300);
		animation: rotate 4s linear infinite;
	}
} */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.profile-info-tag-container {
  width: 100%;
  height: 100%;
}
.profile-info-tag-container > .grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side right-side";
  width: 100%;
  height: 100%;
}
.profile-info-tag-container > .grid-container > .grid-left-side {
  grid-area: left-side;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-info-tag-container > .grid-container > .grid-left-side > img {
  width: var(--icon-size);
  height: auto;
}
.profile-info-tag-container > .grid-container > .grid-right-side {
  grid-area: right-side;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.profile-info-tag-container > .grid-container > .grid-right-side > .type {
  text-transform: uppercase;
  font-weight: bold;
  color: #727272;
  font-size: 0.8em;
}
.profile-info-tag-container > .grid-container > .grid-right-side > .description {
  color: #ebebeb;
  font-size: 0.9em;
  word-break: break-all;
}

.about-card-container {
  max-width: calc(50% - 10px);
}
.about-card-container > .grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side right-side";
  gap: 20px;
  width: 100%;
  box-shadow: #171717 0px 4px 6px 0px;
  border-radius: 15px;
  background-color: #2b2b2b;
  padding: 20px;
}
.about-card-container > .grid-container > .grid-left-side {
  grid-area: left-side;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-card-container > .grid-container > .grid-right-side {
  grid-area: right-side;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-card-container > .grid-container > .grid-right-side > .card-type {
  text-transform: uppercase;
  font-weight: bold;
  color: #727272;
  font-size: 0.8em;
}
.about-card-container > .grid-container > .grid-right-side > .card-desc {
  color: #ebebeb;
  font-size: 0.9em;
  word-break: break-all;
}
.about-card-container > .grid-container > .card-image {
  width: 3rem;
}

.progress-bar-container {
  margin-bottom: 20px;
}
.progress-bar-container > .text-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  color: #ebebeb;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.progress-bar-container > .bar-outline {
  width: 100%;
  height: 7px;
  border-radius: 20px;
  background-color: #464646;
}
.progress-bar-container > .bar-outline > .bar-fill {
  /* background-color: #fbb300; */
  background-image: linear-gradient(to right, #fbb300, #fb7100);
  border-radius: 20px;
  height: 100%;
}

.work-card-container {
  max-width: calc(25% - 15px);
  color: #ebebeb;
  width: 100%;
}
.work-card-container > .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 10px;
  text-transform: capitalize;
}
.work-card-container > .text-container > .title {
  font-size: 1.2em;
}
.work-card-container > .text-container > .type {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  color: #727272;
  margin-top: 5px;
}
.work-card-container > img {
  background-color: #2b2b2b;
  border-radius: 20px;
  width: 100%;
}

.resume-info-container {
  display: flex;
  color: #ebebeb;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
.resume-info-container > .resume-info-title {
  font-size: 1.5em;
}
.resume-info-container > .resume-info-time {
  color: #fbb300;
  font-size: 1em;
}
.resume-info-container > .resume-info-desc {
  font-size: 1.2em;
  color: #727272;
}

/* @import "./components/ContactForm"; */
body {
  background-color: #111;
  margin: 50px 150px 50px 150px;
}

html {
  overflow-y: scroll;
}

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  /* 	font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}/*# sourceMappingURL=index.css.map */