$white: #ebebeb;

$yellow: #fbb300;
$orange: #fb7100;

$gray1: #292929;
$gray2: #2b2b2b;
$gray3: #1e1e1f;
$gray4: #2f2f2f;
$gray5: #727272;
$gray6: #464646;
$gray7: #383838;
$gray8: #171717;

$icon-size-desktop: 26px;
$icon-size-tablet: 20px;
$icon-size-mobile: 16px;

$mobile: "(max-width: 600px)";

:root {
	--icon-size: #{$icon-size-desktop};
}

@media #{$mobile} {
	:root {
		--icon-size: #{$icon-size-mobile};
	}
}

@import "App";

@import "./views/AboutView";
@import "./views/ContactView";
@import "./views/PortfolioView";
@import "./views/ResumeView";

@import "./components/Profile";
@import "./components/ProfileInfoTag";
@import "./components/AboutCard";
@import "./components/ProgressBar";
@import "./components/WorkCard";
@import "./components/ResumeInfo";

body {
	background-color: #111;
	margin: 50px 150px 50px 150px;
}

html {
	overflow-y: scroll;
}

html,
body {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
